snippet cmp
    #include <bits/stdc++.h>

    using namespace std;

    int main() {
    	int t_cases;
    	cin >> t_cases;

    	while (t_cases--) {
    	  $0
    	}

    	return 0;
    }

snippet vec
    vector<${1:type}> $0;
