snippet tcases
    #include <bits/stdc++.h>

    using namespace std;

    int main() {
    	int tCases;
    	cin >> tCases;

    	while (tCases--) {
    	    ${0}
    	}

    	return 0;
    }

snippet vec
    vector<${1:type}> $0;
