snippet class 
  class ${1:name}:
    def __init__(self${2}):
      $0

snippet afun
  async def ${1:func}(${2}):
    $0
    
snippet fun
  def ${1:func}(${2}):
    $0
    
snippet cfun
  def ${1:func}(self${2}):
    $0

snippet #
  # ---- $0
